<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Edit Student</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Students</a>
                        </li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Edit Student</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="stdForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>First name</mat-label>
                                        <input matInput formControlName="first" required>
                                        <mat-error *ngIf="stdForm.get('first').hasError('required')">
                                            First name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Last name</mat-label>
                                        <input matInput formControlName="last">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Roll No</mat-label>
                                        <input matInput formControlName="rollNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender" required>
                                            <mat-option [value]="'male'">
                                                Male
                                            </mat-option>
                                            <mat-option [value]="'female'">
                                                Female
                                            </mat-option>
                                            <mat-option [value]="'other'">
                                                Other
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="stdForm.get('gender').hasError('required')">
                                            Gender is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" required>
                                        <mat-error
                                            *ngIf="stdForm.get('email').hasError('email') && stdForm.get('email').touched">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Mobile</mat-label>
                                        <input matInput formControlName="mobile" type="number" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Registration Date</mat-label>
                                        <input matInput [matDatepicker]="rpicker" formControlName="rDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                                        <mat-datepicker #rpicker></mat-datepicker>
                                        <mat-error *ngIf="stdForm.get('rDate').hasError('required')">
                                            Please select date
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Select Department</mat-label>
                                        <mat-select formControlName="department" required>
                                            <mat-option [value]="'mechanical'">
                                                Mechanical
                                            </mat-option>
                                            <mat-option [value]="'science'">
                                                Science
                                            </mat-option>
                                            <mat-option [value]="'mathematics'">
                                                Mathematics
                                            </mat-option>
                                            <mat-option [value]="'computer'">
                                                Computer
                                            </mat-option>
                                            <mat-option [value]="'civil'">
                                                Civil
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="stdForm.get('department').hasError('required')">
                                            Select Any Department
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Parents name</mat-label>
                                        <input matInput formControlName="parentName" required>
                                        <mat-error *ngIf="stdForm.get('parentName').hasError('required')">
                                            Parents name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Parents Mobile Number</mat-label>
                                        <input matInput formControlName="parentNo" type="number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Date Of Birth</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="dob" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="stdForm.get('dob').hasError('required')">
                                            Please select date
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Blood Group</mat-label>
                                        <input matInput formControlName="bGroup">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput formControlName="address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-3">
                                        <mat-label>Upload Image</mat-label>
                                        <ngx-mat-file-input formControlName="uploadImg">
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="mr-3" [disabled]="!stdForm.valid " mat-raised-button
                                        color="primary">Submit</button>
                                    <button type="button" mat-button>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>